{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>PigeonHole | Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'plugins/bs/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'plugins/bs/css/cover.css' %}" rel="stylesheet">
  </head>

  <body class="text-center" style="background:url({% static 'img/pigeonhole.jpg'%});background-repeat: no-repeat;
                                                              background-position: center center;
                                                              background-attachment: fixed;
                                                              background-size: cover;">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column pull-left">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"></h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
            
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p class="text-success"><small>&copy; 2018 - PigeonHole. No Rights Reserved</small></p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bs/js/bootstrap.min.js' %}"></script>
  </body>
</html>
